{
  "openapi": "3.0.3",
  "info": {
    "title": "Robot D News API",
    "description": "Robot D 机器人新闻站热点数据接口。提供机器人行业最新资讯，支持按年月日维度查询。\n\nBase URL: https://robotd.net\n\n注意：本 API 为静态 JSON 文件，不支持 query string 过滤。按月份/日期筛选请使用路径式端点。",
    "version": "1.0.0",
    "contact": {
      "name": "Robot D",
      "url": "https://robotd.net"
    }
  },
  "servers": [
    {
      "url": "https://robotd.net",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/api/hot.json": {
      "get": {
        "summary": "获取全部热点文章",
        "description": "返回所有文章的完整列表，按发布日期倒序排列。不过滤。",
        "operationId": "getAllArticles",
        "x-test-parameters": {
          "description": "获取全量数据，无需参数",
          "exampleUrl": "https://robotd.net/api/hot.json"
        },
        "responses": {
          "200": {
            "description": "成功返回文章列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/{year}/{month}.json": {
      "get": {
        "summary": "按年月查询文章",
        "description": "获取指定年月的文章列表。文件由构建时自动生成，只存在有文章发布的年月。",
        "operationId": "getArticlesByMonth",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "年份，四位数字",
            "schema": {
              "type": "string",
              "pattern": "^20[0-9]{2}$",
              "example": "2026"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "月份，两位数（01-12）",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "06"
            }
          }
        ],
        "x-test-parameters": [
          {"year": "2026", "month": "06"},
          {"year": "2026", "month": "05"},
          {"year": "2026", "month": "02"}
        ],
        "responses": {
          "200": {
            "description": "成功返回该月文章列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/{year}/{month}/{day}.json": {
      "get": {
        "summary": "按年月日查询文章",
        "description": "获取指定日期的文章列表。文件由构建时自动生成，只存在有文章发布的日期。",
        "operationId": "getArticlesByDay",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "年份，四位数字",
            "schema": {
              "type": "string",
              "pattern": "^20[0-9]{2}$",
              "example": "2026"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "月份，两位数（01-12）",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "06"
            }
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "description": "日期，两位数（01-31）",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|[12][0-9]|3[01])$",
              "example": "05"
            }
          }
        ],
        "x-test-parameters": [
          {"year": "2026", "month": "06", "day": "05"},
          {"year": "2026", "month": "06", "day": "04"},
          {"year": "2026", "month": "05", "day": "31"},
          {"year": "2026", "month": "05", "day": "30"}
        ],
        "responses": {
          "200": {
            "description": "成功返回该日文章列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArticleListResponse": {
        "type": "object",
        "required": ["site", "url", "updated", "total", "articles"],
        "properties": {
          "site": {
            "type": "string",
            "description": "站点名称",
            "example": "Robot D"
          },
          "url": {
            "type": "string",
            "description": "站点URL",
            "example": "https://robotd.net"
          },
          "updated": {
            "type": "string",
            "description": "数据更新日期",
            "format": "date",
            "example": "2026-06-05"
          },
          "total": {
            "type": "integer",
            "description": "返回文章总数",
            "example": 4
          },
          "articles": {
            "type": "array",
            "description": "文章列表",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "required": ["slug", "date", "category", "featured", "url", "en", "zh"],
        "properties": {
          "slug": {
            "type": "string",
            "description": "文章标识符，用于URL",
            "example": "bike-robot-front-flip-2026"
          },
          "date": {
            "type": "string",
            "description": "发布日期",
            "format": "date",
            "example": "2026-06-05"
          },
          "category": {
            "type": "string",
            "description": "文章分类",
            "enum": ["humanoid", "industrial", "ai-robotics", "drones", "medical", "research"],
            "example": "research"
          },
          "featured": {
            "type": "boolean",
            "description": "是否精选文章",
            "example": true
          },
          "url": {
            "type": "string",
            "description": "文章完整URL",
            "format": "uri",
            "example": "https://robotd.net/article/bike-robot-front-flip-2026/"
          },
          "en": {
            "description": "英文内容",
            "$ref": "#/components/schemas/LocalizedContent"
          },
          "zh": {
            "description": "中文内容",
            "$ref": "#/components/schemas/LocalizedContent"
          }
        }
      },
      "LocalizedContent": {
        "type": "object",
        "required": ["title", "summary"],
        "properties": {
          "title": {
            "type": "string",
            "description": "标题",
            "example": "A Bicycle Robot Did a Front Flip. The Hard Part Was Landing."
          },
          "summary": {
            "type": "string",
            "description": "摘要",
            "example": "Georgia Tech and RAI Institute bicycle robot achieves first unassisted front flip at ICRA 2026."
          }
        }
      }
    }
  }
}
