{
  "openapi": "3.0.3",
  "info": {
    "title": "Robot D Hot News API",
    "description": "Robot D 机器人新闻站热点数据接口。提供机器人行业最新资讯，支持可选的年月日查询参数。\n\n注意：本 API 托管于 GitHub Pages 静态服务器，查询参数作为接口契约存在。实际返回始终为全量数据，消费者可自行根据响应中的 date 字段进行前端过滤。\n\n按日期预生成的静态文件也可直接访问：\n  - https://robotd.net/api/2026/06.json   （某月）\n  - https://robotd.net/api/2026/06/05.json（某日）",
    "version": "1.0.0",
    "contact": {
      "name": "Robot D",
      "url": "https://robotd.net"
    }
  },
  "servers": [
    {
      "url": "https://robotd.net",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/api/hot.json": {
      "get": {
        "summary": "获取热点文章列表",
        "description": "返回所有文章列表，按日期倒序。支持可选的 year/month/day 查询参数（仅作接口契约，实际返回全量数据，消费者据 date 字段自行过滤）。",
        "operationId": "getArticles",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "年份，四位数字",
            "schema": {
              "type": "string",
              "pattern": "^20[0-9]{2}$",
              "example": "2026"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "月份，两位数（01-12）",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "06"
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "日期，两位数（01-31）。需同时提供 year 和 month。",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|[12][0-9]|3[01])$",
              "example": "05"
            }
          }
        ],
        "x-test-parameters": [
          {},
          {"year": "2026", "month": "06"},
          {"year": "2026", "month": "05"},
          {"year": "2026", "month": "02"},
          {"year": "2026", "month": "06", "day": "05"},
          {"year": "2026", "month": "05", "day": "31"}
        ],
        "responses": {
          "200": {
            "description": "成功返回文章列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArticleListResponse": {
        "type": "object",
        "required": ["site", "url", "updated", "total", "articles"],
        "properties": {
          "site": {
            "type": "string",
            "description": "站点名称",
            "example": "Robot D"
          },
          "url": {
            "type": "string",
            "description": "站点URL",
            "example": "https://robotd.net"
          },
          "updated": {
            "type": "string",
            "description": "数据更新日期",
            "format": "date",
            "example": "2026-06-05"
          },
          "total": {
            "type": "integer",
            "description": "返回文章总数",
            "example": 4
          },
          "articles": {
            "type": "array",
            "description": "文章列表",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "required": ["slug", "date", "category", "featured", "url", "en", "zh"],
        "properties": {
          "slug": {
            "type": "string",
            "description": "文章标识符，用于URL",
            "example": "bike-robot-front-flip-2026"
          },
          "date": {
            "type": "string",
            "description": "发布日期",
            "format": "date",
            "example": "2026-06-05"
          },
          "category": {
            "type": "string",
            "description": "文章分类",
            "enum": ["humanoid", "industrial", "ai-robotics", "drones", "medical", "research"],
            "example": "research"
          },
          "featured": {
            "type": "boolean",
            "description": "是否精选文章",
            "example": true
          },
          "url": {
            "type": "string",
            "description": "文章完整URL",
            "format": "uri",
            "example": "https://robotd.net/article/bike-robot-front-flip-2026/"
          },
          "en": {
            "description": "英文内容",
            "$ref": "#/components/schemas/LocalizedContent"
          },
          "zh": {
            "description": "中文内容",
            "$ref": "#/components/schemas/LocalizedContent"
          }
        }
      },
      "LocalizedContent": {
        "type": "object",
        "required": ["title", "summary"],
        "properties": {
          "title": {
            "type": "string",
            "description": "标题",
            "example": "A Bicycle Robot Did a Front Flip. The Hard Part Was Landing."
          },
          "summary": {
            "type": "string",
            "description": "摘要",
            "example": "Georgia Tech and RAI Institute bicycle robot achieves first unassisted front flip at ICRA 2026."
          }
        }
      }
    }
  }
}
